<div class="jumbotron">
<h1><center>GroopUp</center></h1>
</div>
<div class="container">
<div class="row">
    <div class ="col-lg-12 update-event">
      <table class="biz-event-update">
        <tr>
          <td>
            title: {{this.title}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="auth" name="name" value="{{this.title}}">
                <button type="submit" class="btn btn-primary">update title</button>
                </div>
              </form>
          </td>
        </tr>
        <tr>
          <td>
            location: {{this.location}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="auth" name="name" value="{{this.location}}">
                <button type="submit" class="btn btn-primary">update location</button>
                </div>
              </form>
          </td>
        </tr>
        <tr>
          <td>
            date: {{this.date}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="auth" name="name" value="{{this.date}}">
                <button type="submit" class="btn btn-primary">update date</button>
                </div>
              </form>
          </td>
        </tr>
        <tr>
          <td>
            time: {{this.time}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="auth" name="name" value="{{this.time}}">
                <button type="submit" class="btn btn-primary">update time</button>
                </div>
              </form>
          </td>
        </tr>
        <tr>
          <td>
            picture: {{this.picture}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="auth" name="name" value="{{this.picture}}">
                <button type="submit" class="btn btn-primary">update picture</button>
                </div>
              </form>
          </td>
        </tr>
      </table>
     </div>
   </div>
 </div>
 <div class="container footer">
 </div>
