<div class="jumbotron">
  <form class= "home" action="/business" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
</div>
<div class="container">
<div class="row">
    <div class ="col-lg-12 update-event">
      <table class="biz-event-update">
        <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
          <div class="form-group">
        <tr>
          <td>
            title:
          </td>
          <td>
                <input type="text" id="auth" name="title" value="{{this.title}}">
          </td>
        </tr>
        <tr>
          <td>
            location:
          </td>
          <td>
                <input type="text" id="auth" name="location" value="{{this.location}}">
          </td>
        </tr>
        <tr>
          <td>
            date:
          </td>
          <td>
                <input type="text" id="auth" name="date" value="{{this.date}}">
          </td>
        </tr>
        <tr>
          <td>
            time:
          </td>
          <td>
                <input type="text" id="auth" name="time" value="{{this.time}}">
          </td>
        </tr>
        <tr>
          <td>
            picture:<br/>
            <img src="{{this.picture}}"/>
          </td>
          <td>
                <input type="url" id="auth" name="picture" value="{{this.picture}}">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center>
              <button type="submit" class="btn btn-primary" id="submit">update event</button>
            </center>
          </td>
        </tr>
      </form>
      </table>
     </div>
   </div>
 </div>
 </div>
 <div class="container footer">
 </div>
