<div class="jumbotron">
  <form class= "home" action="/user" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
  <h3><center>my account</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 update-info">
      <h3>My Info</h3>
      <table class="update-account">
        <form class="create-update-form" action="/my-account?_method=PUT" method="POST">
          <div class="form-group">
        <tr>
          <td>
            name:
          </td>
          <td>
              <input type="text" id="auth" name="name" value="{{this.name}}">
          </td>
        </tr>
        <tr>
          <td>
            email:
          </td>
          <td>
                <input type="text" id="email" name="email" value="{{this.email}}">
          </td>
        </tr>
        <tr>
          <td>
          password:
          </td>
          <td>
              <input type="password" id="password" name="password" value="{{this.password}}">
          </td>
        </tr>
        <tr>
          <td>
            photo: <img height="100px" src={{this.picture}}/>
          </td>
          <td>
              <input type="text" id="email" name="picture" value="{{this.picture}}">
          </td>
        </tr>
        <tr>
          <td>
            sex:
          </td>
          <td>
            {{#if this.sex}}
            <input type="radio" name="sex" value="0" checked> male<br>
            <input type="radio" name="sex" value="1"> female<br>
            <input type="radio" name="sex" value=""> other<br>

            {{else}}
            <input type="radio" name="sex" value="0"> male<br>
            <input type="radio" name="sex" value="1" checked  > female<br>
            <input type="radio" name="sex" value=""> other<br>
            {{/if}}

          </td>
        </tr>
        <tr>
          <td>
            age:
          </td>
          <td>
              <input type="text" id="age" name="age" value="{{this.age}}">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center>
              <button type="submit" class="btn btn-primary" id="submit">update account</button>
            </center>
          </td>
        </tr>
      </form>
      </table>
      </div>
    </div>
    <div class="col-lg-6 my-events">
    <ul id="eventlist">
      <h3>My events</h3>
        {{#each event}}
      <li>
      <ul id="eventinfo">
                  {{title}}
                  </li>
                    <li>
                      <img height="200px" width="280" src="{{picture}}"/>
                    </li>
                    <li>
                      {{location}}
                    </li>
                    <li>
                      {{date}}
                    </li>
                    <li>
                      <form action="/{{this.id}}?_method=GET" method="GET">
                        <button type="submit" class="btn btn-primary">view event</button>
                      </form>
                    </li>
                  </ul>
                </center>
              </li>
        {{/each}}
    </ul>
  </div>
</div>
  <div class="container footer">
  </div>
