<div class="jumbotron">
  <div class="biz-tabs">
    <ul id="tabs">
      <li>
        <form class="create-update-form" action="/business" method="GET">
          <button type="submit" class="btn btn-primary user-settings">home</button>
        </form>
      </li>
      <li>
        <form class="create-update-form" action="/new-event" method="GET">
          <button type="submit" class="btn btn-primary user-settings">create event</button>
        </form>

      </li>
      <li>
        <form class="create-update-form" action="/logout" method="GET">
          <button type="submit" class="btn btn-primary logout">log out</button>
        </form>
      </li>
    </ul>
        </div>
  <form class= "home" action="/business" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
  <center>
    <h3>My Business Account</h3>
  </center>
</div>
<div class="container">
  <div class="row mybusiness">
    <div class="col-lg-6 update-biz">
      <center>
        <h3>My Info</h3>
      </center>
      <table class="biz-info-update">

        <form class="create-update-form" action="/my-business?_method=PUT" method="POST">

          <div class="form-group">
        <tr>
          <td>
            name:
          </td>
          <td>
          <input type="text" id="auth" name="name" value="{{this.name}}" required>
          </td>
        </tr>
        <tr>
          <td>
            email:
          </td>
          <td>
          <input type="email" id="email" name="email" value="{{this.email}}" required>
          </td>
        </tr>
        <tr>
          <td>
            password:
          </td>
          <td>
              <input type="password" id="password" name="password" value="{{this.password}}" required>
          </td>
        </tr>
        <tr>
          <td>

            phone number:
          </td>
          <td>
              <input type="phonenumber" id="phonenumber" name="phonenumber" value="{{this.phonenumber}}" required>
          </td>
        </tr>
        <tr>
          <td>
          photo:<br/><img height="100px" src="{{this.picture}}"/>
           </td>
          <td>
            <input type="url" id="picture" name="picture" value="{{this.picture}}" required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center>
              <button type="submit" class="btn btn-primary" id="submit">update account</button>
            </center>
            </div>
          </form>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6 myevents">
      <center>
        <h3>My Events</h3></center>
        <center>

      <ul id="eventlist">
          {{#each this.Events}}
        <li>
        <ul id="eventinfo">
                    <center>
                      {{this.title}}
                    </center>
                    </li>
                      <li>
                        <img height="100px" width="180" src="{{picture}}"/>
                      </li>
                      <li>
                        {{lthis.location}}
                      </li>
                      <li>
                        {{this.date}} {{this.time}}
                      </li>
                      <li>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{id}}">
                        View Event
                        </button>
                        <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel" style="margin: auto">{{this.title}}</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Location: {{this.location}}</h3>
                                        <h3>Date: {{this.date}}</h3>
                                        <h3>Time: {{this.time}}</h3>
                                        <img height="200px" width="280" src="{{picture}}" />
                                        <h3>Max limit: {{this.attendance_cap}}</h3>
                                        <h3>Total signed up: {{totalUsers}}</h3>
                                        <form action="/businessdelete-event/{{this.id}}" method="POST">
                                              <button type="submit" class="btn btn-danger" id="submit">Delete Event</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                      </li>
                    </ul>

                </li>
          {{/each}}
      </ul>
      </center>
    </div>
  </div>
</div>
