<div class="jumbotron">
  <h1><center>GroopMe</center></h1>
  <h3><center>my account</center></h3>
</div>
<div class="container">
  <div class="row">
    <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
      <div class="form-group">
        <label for="name">Name: {{this.name}}</label>
        <input type="text" id="auth" name="name" value="{{this.name}}">
        <button type="submit">Update Name</button><br>
        </div>
      </form>
      <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
        <div class="form-group">
          <label for="email">Name: {{this.email}}</label>
          <input type="text" id="email" name="name" value="{{this.email}}">
          <button type="submit">Update Email</button><br>
          </div>
        </form>
        <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
        <div class="form-group">
          <label for="password">Password: {{this.password}}</label>
          <input type="text" id="password" name="password" value="{{this.password}}">
          <button type="submit">Update Password</button><br>
          </div>
        </form>
        <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
        <div class="form-group">
          <label for="picture">Photo: {{this.picture}}</label>
          <input type="text" id="email" name="name" value="{{this.picture}}">
          <button type="submit">Update Picture</button><br>
          </div>
        </form>
      </div>
    </div>
