<div class="jumbotron">
  <form class= "home" action="/business" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
  <h3><center>my account</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 update-biz">
      <table class="biz-info-update">

        <form class="create-update-form" action="/my-business?_method=PUT" method="POST">

          <div class="form-group">
        <tr>
          <td>
            name:
          </td>
          <td>
          <input type="text" id="auth" name="name" value="{{this.name}}">
          </td>
        </tr>
        <tr>
          <td>
            email:
          </td>
          <td>
          <input type="text" id="email" name="email" value="{{this.email}}">
          </td>
        </tr>
        <tr>
          <td>
            password:
          </td>
          <td>
              <input type="password" id="password" name="password" value="{{this.password}}">
          </td>
        </tr>
        <tr>
          <td>

            phone number:
          </td>
          <td>
              <input type="phonenumber" id="phonenumber" name="phonenumber" value="{{this.phonenumber}}">
          </td>
        </tr>
        <tr>
          <td>
          photo:<img height="100px" src="{{this.picture}}"/>
           </td>
          <td>
            <input type="text" id="email" name="picture" value="{{this.picture}}">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center>
              <button type="submit" class="btn btn-primary" id="submit">update account</button>
            </center>

          </td>
        </tr>
      </table>
      </div>
    </div>
    <div class="col-lg-6 myevents">
      <ul id="eventlist">
          {{#each event}}
        <li>

        <ul id="eventinfo">
                  <center>
                    <h3>{{title}}</h3>
                    </li>
                      <li>
                        <img height="200px" width="280" src="{{picture}}"/>
                      </li>
                      <li>
                        {{location}}
                      </li>
                      <li>
                        {{date}}
                      </li>
                      <li>
                        <form action="/{{this.id}}?_method=GET" method="GET">
                          <button type="submit" class="btn btn-primary">view event</button>
                        </form>
                      </li>
                    </ul>
                  </center>
                </li>
          {{/each}}
      </ul>
    </div>
  </div>
</div>
  <div class="container footer">
  </div>
