<div class="jumbotron">
  <h1><center>GroopUp</center></h1>
  <h3><center>my account</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 update-biz">
      <table class="biz-info-update">
        <tr>
          <td>
            Name: {{this.name}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="auth" name="name" value="{{this.name}}">
                <button type="submit" class="btn btn-primary">Update Name</button><br>
                </div>
              </form>
          </td>
        </tr>
        <tr>
          <td>
            Name: {{this.email}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" id="email" name="name" value="{{this.email}}">
                <button type="submit" class="btn btn-primary">Update Email</button><br>
                </div>
              </form>
          </td>
        </tr>
        <tr>
          <td>
            Password: {{this.password}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
            <div class="form-group">
              <input type="text" id="password" name="password" value="{{this.password}}">
              <button type="submit" class="btn btn-primary">Update Password</button><br>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            Photo: {{this.picture}}
          </td>
          <td>
            <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
            <div class="form-group">
              <input type="text" id="email" name="name" value="{{this.picture}}">
              <button type="submit" class="btn btn-primary">Update Picture</button><br>
              </div>
            </form>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="container footer">
  </div>
