<div class="jumbotron">
  <form class= "home" action="/business" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
  <h3><center>my account</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 update-biz">
      <table class="biz-info-update">
        <form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
          <div class="form-group">
        <tr>
          <td>
            name:
          </td>
          <td>
          <input type="text" id="auth" name="name" value="{{this.name}}">
          </td>
        </tr>
        <tr>
          <td>
            email:
          </td>
          <td>
          <input type="text" id="email" name="email" value="{{this.email}}">
          </td>
        </tr>
        <tr>
          <td>
            password:
          </td>
          <td>
              <input type="password" id="password" name="password" value="{{this.password}}">
          </td>
        </tr>
        <tr>
          <td>
          photo:<img height="100px" src="{{this.picture}}"/>
           </td>
          <td>
            <input type="text" id="email" name="picture" value="{{this.picture}}">
          </td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
  <div class="container footer">
  </div>
