<div class="jumbotron">
<h1><center>GroopUp</center></h1>
</div>
<div class="container">
<div class="row">
    <div class ="col-lg-12 event">
      <h1>Title: {{this.title}}</h1>
      <h3>Location: {{this.location}}</h3>
      <h3>Date: {{this.date}}</h3>
      <h3>Time: {{this.time}}</h3>
      <h3>Goal: {{this.attendance_cap}} person</h3>
      <h3>Current: {{this.totalUsers}} person</h3>
      <img height="200px" width="280" src="{{picture}}"/>
      <form action="/event-sign-up/{{this.id}}" method="POST">
        <button type="submit">join this event</button>
      </form>


     </div>
   </div>
 </div>
 <div class="container footer">
 </div>
